<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.it.springcloud.dao.PaymentDao">

    <!--seGeneratedKeys为true时，如果插入的表id以自增列为主键时，将会把该自增id返回-->
    <insert id="insert" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values(#{serial});
    </insert>

    <resultMap id="BasePaymentMap" type="com.it.springcloud.entity.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findById" parameterType="Long" resultMap="BasePaymentMap">
        select * from payment where id = #{id};
    </select>
</mapper>